@charset "UTF-8";

/* ------------------------- */
/* style para adm_login.html */
/* ------------------------- */

.tela-login-adm {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
}

.tela-login-adm > * {
    padding: 10px;
    flex: 1 100%;
}

.conteudo-login-adm {
    background: /*deepskyblue*/ white;
}

.aside-1 {
    background: /*green*/ white;
}

.aside-2 {
background: /*red*/ white;
}

@media all and (min-width: 460px) {
.aside-login-adm { 
    flex: 1 0 0; 
    border-radius: 0px;
    box-shadow: none;
    }
}

@media all and (min-width: 800px) {
    .conteudo-login-adm    { flex: 3 0px; }
    .aside-1 { order: 1; } 
    .conteudo-login-adm    { order: 2; }
    .aside-2 { order: 3; }
    }
    
.conteudo-login-adm > h2 {
    color: var(--cor-adm-login);
    padding-bottom: 15px;
    border-bottom: 1px solid var(--cor-sublinhado);
    margin-bottom: 20px;
    font-size: 1.3em;
    font-weight: normal;
}

.conteudo-login-adm > p {
    margin: 0 0 10px;
    color: var(--cor-adm-login);
    font-weight: 400;
    font-size: 1em;
}
.conteudo-login-adm > p > strong {
    font-weight: 600;
}

label.label-login-adm {
    color: var(--cor-adm-login);
    font-weight: 400;
}

.form-login-adm {
    margin-top: 30px;
}

label span {
    color: red;
}

input.input-login-adm {
    padding: 15px;
    margin: 10px 0 20px;
    outline-color: var(--cor-logo);
    border: 1px solid var(--cor-sublinhado);
    border-radius: 4px;
    font-size: 1em;
    width: 100%;
}

.inputSubmit {
    background-color: var(--cor3);
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 6px;
    color: white;
    font-size: 15px;
    
}

.inputSubmit:hover{
    background-color: var(--cor2);
    cursor: pointer;
}

